<div class="login-container">
  <img src="assets/logo.png" alt="App Logo" class="logo-image">
  <h2>Login</h2>
  
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <label for="username">Username</label>
    <input
      id="username"
      name="username"
      type="text"
      [(ngModel)]="username"
      required
      autocomplete="off"
      class="input-field"
    />

    <label for="password">Password</label>
    <input
      id="password"
      name="password"
      type="password"
      [(ngModel)]="password"
      required
      autocomplete="off"
      class="input-field"
    />

    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>

  <p class="signup-text">
    Don't have an account? <a routerLink="/register">Sign up</a>
  </p>
</div>

